{% load billing_ui %}
{% load billing_plans %}

{% pay_as_you_go_plan as plan_features %}

<ul class="list-unstyled mb-7">
    <li class="mb-3">
        {% check_image plan_name "pay-as-you-go" %}
        Ilimitadas peticiones al mes
    </li>
    <li class="mb-3">
        {% check_image plan_name "pay-as-you-go" %}
        {{ plan_features.max_requests_per_minute }} peticiones por minuto
    </li>
    <li class="mb-3">
        {% check_image plan_name "pay-as-you-go" %}
        {{ plan_features.max_concurrent_requests }} conexión concurrente
    </li>
    <li class="mb-3">
        {% check_image plan_name "pay-as-you-go" %}
        {{ plan_features.max_api_keys }} API Key
    </li>
    <li class="mb-3">
        {% check_image plan_name "pay-as-you-go" %}
        Dashboard avanzado
    </li>
    <li class="opacity-40">
        {% cross_image plan_name "pay-as-you-go" %}
        Sin soporte
    </li>
</ul>
